{{- $params := .Scratch.Get "params" -}}

<meta name="Description" content="{{ $params.description | default .Site.Params.description }}">

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">

{{- with .Site.Params.app.themeColor -}}
    <meta name="theme-color" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}

<meta name="naver-site-verification" content="2d1cdbb963ba178aa7cbf58500afc668cae1e645" />

<meta name="google-site-verification" content="vvFCdv0-GuQhEWG8vtNJfA7YSY2HYQ1hpHh9P-a6Pv8" />